* {
    box-sizing: border-box;
}

body {
    background-image: url(../image/BU_contact_BG.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.main-container {
    margin: 0 8%;
}

.name-top {
    color: aliceblue;
    font-size: 40px;
}

.top-info {
    border-radius: 5px;
    margin: auto;
    width: 70%;
}

.my-socials, .copyright-sign p {
    display: flex;
    justify-content: center;
}

.copyright-sign p {
    color: gainsboro;
}

.my-socials a { 
    font-size: 40px;
    color: currentColor;
    transition: 1s;
}

.my-socials a:hover {
    color: aliceblue;
    transition: 0.5s;
    font-size: 45px;
}

.footer-all-pages {
    font-weight: 800;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.sticky-container {
    position: sticky;
    top:0;
    margin-left: auto;
    margin-right: auto;
}

.nav-container {
    display: inline-flex;
    width: 100%;
    align-content: center;
    color: aliceblue;
    font-size: 20px;
    font-weight: 800;
    border: 2px solid black;
    font-family: 'Mooli';
}

.projects-item-hover {
    transition: .5s;
    position: absolute;
    display: none;
    max-width: 120px;
    text-align: start;
}

.proj-content1, .proj-content2, .proj-content3{
    text-decoration: none;
    transition: .5s;
    color: rgb(76, 69, 114);
    border-radius: 5px;
    display: flex;
}

.projects-hover:hover .projects-item-hover {
    display: block;
    transition: .5s;
}

.hover-home, .hover-projects, .hover-aboutme, .hover-hireme{
    color: black;
    margin-left: auto;
    margin-right: auto;
    transition: .5s;
    padding: 2px;
    border-radius: 5px;
}

.proj-content1:hover, .proj-content2:hover, .proj-content3:hover{
    font-size: 22px;
    padding: 1px;
    color: whitesmoke;
}

.hover-projects:hover, .hover-hireme:hover, .hover-aboutme:hover{
    font-size: 23px;
    color: whitesmoke;
}


nav {
    width: 100%;
    text-align: center;
    float: right;
    transition: .5s;
}

.main-body {
    font-family: 'Mooli';
    transition: .9s;
}

@font-face {
    font-family: 'Mooli';
    src: url(../Mooli/Mooli-Regular.ttf);
}

.dev-picture {
    padding: 20px 20px;
}

.action-btn {
    text-align: center;
    padding: 2px;
    float: right;
    width: 50%;
    margin: auto;
}

.action-btn h1 {
    padding-top: 10%;
}

.image-of-me {
    margin-left: 2%;
    border-radius: 50%;
    height: 40%;
    width: 40%;
    pointer-events: none;
    box-shadow: 10px 2px 50px 2px #5e5d5d;
}

.hover-home:hover {
    cursor: not-allowed;
    opacity: 0;
}

.link-clickable { 
    transition: .5s;
    padding: 20px 10px 20px 0;
}

.link-clickable-child {
    text-decoration: none;
    color: rgb(76, 69, 114);
}


.link-clickable-child:hover {
    color: aliceblue;
}

.link-clickable:hover {
    transition: .5s;
    font-size: 40px;
    cursor: pointer;
}

.caption-info p {
    text-align: center;
    position: relative;
    padding-top: 20px;
}

.caption-info {
    padding: 1%;
    width: 100%;
    border-radius: 20px;
    background-color: gainsboro;
    display: inline-block;
    box-shadow: 10px 10px 40px rgb(97, 97, 99);
}
