* {
    box-sizing: border-box;
    font-family: 'Mooli';
}

body {
    background-image: url(../image/BU_contact_BG.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.main-container {
    padding: 5% 0 0 0;
    margin: 0 10%;
}

.name-top {
    color: rgb(76, 69, 114);;
    font-size: 40px;
}

.top-info {
    border-radius: 5px;
    margin: auto auto auto auto;
    width: 70%;
}

.my-socials, .copyright-sign p {
    display: flex;
    justify-content: center;
}

.copyright-sign p {
    color: gainsboro;
}

.my-socials a { 
    font-size: 40px;
    color: currentColor;
    transition: 1s;
}

.my-socials a:hover {
    color: aliceblue;
    transition: 0.5s;
}

.footer-all-pages {
    font-weight: 800;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.sticky-container {
    position: sticky;
    top: 0;
    display: grid;
}

.home-hover, .projects-hover, .aboutMe-hover, .hireMe-hover {
    font-size: 20px;
    font-weight: 700;
    float: right;
    margin-right: 10px;
    padding: 0 2%;
    border-radius: 10px;
}

.sticky-container li {
    list-style: none;
    border-radius: 10px;
    display: block;
}

ul .banner-logo {
    position: absolute;
    float: right;
    top: 0;
    font-size: 70px;
}

.projects-item-hover {
    transition: .5s;
    position: absolute;
    display: none;
    max-width: 120px;
    text-align: start;
}

.proj-content1, .proj-content2, .proj-content3{
    text-decoration: none;
    transition: .5s;
    color: rgb(76, 69, 114);
    border-radius: 5px;
    display: flex;
}

.projects-hover:hover .projects-item-hover {
    display: block;
    transition: .5s;
}

.hover-home, .hover-projects, .hover-aboutme, .hover-hireme{
    color: black;
    margin-left: auto;
    margin-right: auto;
    transition: .5s;
    padding: 2px;
    border-radius: 5px;
}

.proj-content1:hover, .proj-content2:hover, .proj-content3:hover{
    font-size: 22px;
    padding: 1px;
    color: whitesmoke;
}

.hover-projects:hover, .hover-hireme:hover, .hover-aboutme:hover{
    color: whitesmoke;
}

nav .nav-btns {
    width: 100%;
    text-align: center;
    float: right;
    transition: .5s;
}

.main-body {
    transition: .9s;
}

@font-face {
    font-family: 'Mooli';
    src: url(../Mooli/Mooli-Regular.ttf);
}

.dev-picture {
    padding: 20px 20px;
}

.action-btn {
    text-align: center;
    padding: 2px;
    float: right;
    width: 50%;
    margin: auto;
}

.action-btn h1 {
    padding-top: 10%;
}

.image-of-me {
    margin: 1% 2% 0 0;
    border-radius: 50%;
    height: 40%;
    width: 40%;
    pointer-events: none;
    box-shadow: 10px 2px 50px 2px #5e5d5d;
}

.hover-home:hover {
    cursor: not-allowed;
    opacity: 0;
}

.link-clickable { 
    transition: .5s;
    padding: 20px 10px 20px 0;
}

.link-clickable-child {
    text-decoration: none;
    color: rgb(76, 69, 114);
}

.link-clickable-child:hover {
    color: aliceblue;
}

.link-clickable:hover {
    transition: .5s;
    font-size: 40px;
    cursor: pointer;
}

.caption-info p {
    text-align: center;
    position: relative;
    padding-top: 15px;
}

.banner-logo img {
    width: 100%;
    height: 70px;
    border-radius: 50%;
    animation-name:rotationBanner ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    pointer-events: none;
}

@keyframes rotationBanner {
    0% {
        border: 2px solid rgb(239, 107, 12);
    }
    25% {
        border: 4px solid rgb(184, 98, 38);
    }
    50% {
        border: 4px solid rgb(150, 117, 74);
    }
    100% {
        border: 2px solid rgb(49, 41, 41);
    }
}

.caption-info {
    padding: 0.2;
    width: 100%;
    border-radius: 20px;
    background-color: gainsboro;
    display: inline-block;
    box-shadow: 10px 10px 40px rgb(97, 97, 99);
}
